*{
    margin:0;
    padding:0;
    border:0;
}
html::-webkit-scrollbar {
    width: 0 !important;
}
body{
    background-color: rgb(250, 231, 208);
    margin: auto;
    overflow-x: hidden;
}
#aboutme,#achievements,#education,#skills,#projects,#contactme{
    color: rgb(47, 19, 84);
    font-size: 50px;
    font-family: 'Cookie', cursive;
    font-weight: bolder;
    margin: auto;
    width:70%;
}
.about{
    color:rgb(108, 10, 133);
    font-size: medium;
    font-family: sans-serif;
    font-weight: normal;
}
.anandita{
    font-size:80px;
    font-weight:bolder;
    height:85vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.arrow{
    border: solid  rgb(250, 231, 208);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*for the skills range bar*/
.container {
    background-color: rgb(108, 10, 133);
    border: solid  rgb(108, 10, 133);
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    width: 100%;
} 
.skills {
    background-color: rgb(250, 231, 208);
    border-radius: 1rem;
    color: rgb(108, 10, 133);
    font-size: smaller;
    padding: 0.5rem;
    text-align: right; 
}
.webdev {width: 85%;}
.dsa {width: 70%;}
.iosdev {width: 35%;}
/**/

#home{
    text-align: center;
    background-image: linear-gradient(rgb(47, 19, 84), rgb(127, 10, 156));
    color:rgb(250, 231, 208);
    font-family: sans-serif;
    height:100vh; 
    width: 100%;
}
.institute{
    color: rgba(69, 3, 174, 0.816);
    font-weight: bold;
    font-size: large;
    font-family: sans-serif;
}
.logo{
    color:rgb(250, 231, 208);
    font-family: 'Tangerine', cursive;
    font-size: x-large;
    font-style: normal;
    font-weight: bold;
    position: fixed;
    text-decoration: none;
    left: 1rem;
}

#nav{
    font-style: italic;
    height:5vh;
    position: fixed;
    padding-top: 1.2rem;
    right: 0;
    width: 100%;
}
.navitem{
    color:rgb(250, 231, 208);
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
.rest{
    color: rgb(108, 10, 133);
    font-family: sans-serif;
    font-size: medium;
    font-style: italic;
    font-weight: normal;
}
.right{
    padding-left: 1rem;
}

table{
    border: 2px solid ;
    border-collapse: collapse;
    padding: 0;
}
td{
    border: 2px solid ;
    border-bottom: none;
    border-top: none;
    padding: 0.5rem;
    width:25%;
}
ul.edutype{
    color: rgb(108, 10, 133);
    list-style-type: disc;
    margin-left:1rem;
    font-size: large;
}
ul.table{
    margin-left: 1rem;
}
.year{
    font-size: smaller;
}

/*contact section*/
#contactme{
    background-image: url(./images/contactimage.png);
    color: rgb(250, 231, 208);
    text-align: center;
    width: 100%;
}
.form{
    color: rgba(250, 231, 208, 0.849);
    font-size: medium;
    font-family: sans-serif;
    font-weight: bold;
}
input[type=text]{
    background-color:  rgba(47, 19, 84, 0.826);
    border-radius: 5px;
    box-shadow: 0.5rem 0.5rem 10px rgba(47, 19, 84, 0.447);
    color:rgb(250, 231, 208);
    margin-top: 0.7rem;
    padding: 0.5rem;
    width:50%;
}
input[type=email]{
    background-color:rgba(47, 19, 84, 0.826);
    border-radius: 5px;
    box-shadow: 0.5rem 0.5rem 10px rgba(47, 19, 84, 0.447);
    color:rgb(250, 231, 208);
    margin-top: 0.7rem;
    padding: 0.5rem;
    width:50%;
}
::placeholder{
    color:rgba(250, 231, 208, 0.542)
}
.message{
    font-size: small;
    height:5rem;
    margin-bottom: 2rem;
}
.name{
    font-size: medium;
    margin-bottom: 3rem;
}
textarea{
    background-color: rgba(47, 19, 84, 0.826);
    border-radius: 5px;
    box-shadow: 0.5rem 0.5rem 10px rgba(47, 19, 84, 0.447);
    color:rgb(250, 231, 208);
    font-size: medium;
    margin-top: 0.7rem;
    padding: 0.5rem;
    width:50%;
}
.socialMediaButton{
    background:none;
    border-radius: 50%;
    width:3rem;
    margin: 1rem;
}
.socialMediaImage{
    border-radius: 50%;
    width:3rem;
    box-shadow: 0.5rem 0.5rem 7px rgba(47, 19, 84, 0.447);
}
.submit{
    background-color: rgb(250, 231, 208);;
    border-radius: 5px;
    box-shadow: 0.5rem 0.5rem 7px rgba(47, 19, 84, 0.447);
    color:  rgba(47, 19, 84, 0.826);
    font-size: medium;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.5rem;
}
/* #ECF2FF #3A1078 #4E31AA #0A2647 #144272 #205295 #2C74B3*/